.button {
  background-color: #ddd;
  cursor: pointer;
  display: inline-block;
  margin: 0.25em;
  padding: 1em 1.25em;
  text-align: center;
  width: 1em;
}

.button:hover {
  background-color: #000;
  color: #fff;
}
